@import '../share/fonts';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    color: #fff;
  }

.background{
  background: url("../../images/plans-background.jpg") center/cover;
  // filter: grayscale(48%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;

  &::after{
    position: absolute;
    content: '';
    background-color: #384247;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    // opacity: 1.2px;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
  }
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  // background: blue;
}

.show-backdrop {
  display: block;
}

.btn-menus{
  display: none;
  position: fixed;
  padding-left: 10px;
  z-index: 90;

  .toggle-button{
      width: 4rem;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0 20px;

       &:focus{
          outline: none;
       }
        
        .toggle-button__bar {
          width: 100%;
          height: 0.1rem;
          background: #fff;
          display: block;
          margin: 0.4rem 0;
        }
    }
}

@import '../packages/main';
@import '../share/mainNav';
@import '../share/mobileNav';
@import '../share/footer';

@media(min-width: 320px) and (max-width: 639px){
    @import '../share/hamburgerMenus';

    main{
      padding-top: 5px;

     .container{
       margin: 45px auto;
   
         .package{
           width: 95vw;
           position: none;
  
           a{

             h1{
              font-size: clamp(18px, 4vw, 22px);
             }

             h2{
              font-size: clamp(18px, 4vw, 22px);
             }
   
             .package__info {
               font-size: clamp(14px, 4vw, 19px);

               &:nth-child(3){
                 text-align: left;
               }
             }
           }
         }
   
         #plus {
           align-self: center;
       }
   
         #free {
           align-self: center;
           text-align: left;
       }
   
         #premium {
           align-self: center;
   
       }
     
     }
   }
}

@keyframes push-up {
  0% {
      transform: translateY(0);
  }

  33% {
      transform: translateY(-1.5rem);
  }
  
  100% {
      transform: translateY(-1rem);
  }
}

@import '../share/mobileNav';