.main-nav{
    display: none;
  }

  .btn-menus{
    display: block;
    background: #212428;
    width: 100vw;
    padding-left: 0px;
    margin-left: -1px;
    margin-top: 0px;
    margin-bottom: -28px;
    padding-top: 5px;
}